body {
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	padding: 0 200px 0 200px;
}

.column1 {
  float: left;
  width: 30%;
}


.column2 {
  float: left;
  width: 70%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
	font-weight: 700;
	font-size: 3em;
	text-align: center;
}

.header {
	background: linear-gradient(to bottom, white 70%, #44ff87 30%);
}

img {
	display: block;
    margin: 0 auto;
	border-radius: 50%;
}

h2 {

}