body {
	font-family: 'Montserrat', sans-serif;
	background: url(resumebackground.png);
}

.content {
	max-width: 930px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.column1 {
  float: left;
  width: 40%;
  padding-top: 40px;
  
}

.column2 {
  float: left;
  width: 60%;
  padding-top: 40px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
	font-weight: 700;
	font-size: 3em;
	text-align: left;
}

.header {
	background: linear-gradient(to bottom, rgba(255,255,255,0.01) 85%, #3cb79b 15%);
	width: 240px;
}

img {
	float: right;
	position: absolute;
	border-radius: 50%;
	right: 22%;
	
}

h2 {
	font-size: 1.5em;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #3cb79b;
}

h3 {
	font-size: 1.25em;
	color: #3F3F37;
}

h3:first-letter {
	font-size: 1.3em;
}

a:link {
	text-decoration: none;
	font-weight: 600;
	color: #C5BEBB;
}

a:visited {
	text-decoration: none;
	color: #C5BEBB;
}

a:focus {
	text-decoration: none;
}

a:hover {
	color: #546D64;
}

a:active {
	color: #000;
}

p, li {
	font-size: 1em;
	color: #546D64;
}

.odd {
	list-style-image: url(custom_bullet.svg);
}

.even {
	list-style-type: circle;
}




