body {
	font-family: 'Montserrat', sans-serif;
	background: url(resumebackground.png);
}

#container {
	display: grid;
	grid-template-rows: 1fr 2fr;
	grid-template-columns: 1fr 1fr;
}

.content {
	max-width: 930px;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

#photo {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 2;
	grid-column-end: 3;
}

#head {
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

#contact-grid {
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
}

h1 {
	font-weight: 700;
	font-size: 3em;
	text-align: left;
}

.header {
	background: linear-gradient(to bottom, rgba(255,255,255,0.01) 85%, #3cb79b 15%);
	width: 240px;
}

img {
	border-radius: 50%;
}

h2 {
	font-size: 1.5em;
	text-decoration: underline;
	letter-spacing: 1px;
	color: #3cb79b;
}

h3 {
	font-size: 1.25em;
	color: #3F3F37;
}

h3:first-letter {
	font-size: 1.3em;
}

a:link {
	text-decoration: none;
	font-weight: 600;
	color: #C5BEBB;
}

a:visited {
	text-decoration: none;
	color: #C5BEBB;
}

a:focus {
	text-decoration: none;
}

a:hover {
	color: #546D64;
}

a:active {
	color: #000;
}

p, li {
	font-size: 1em;
	color: #546D64;
}

.odd {
	list-style-image: url(custom_bullet.svg);
}

.even {
	list-style-type: circle;
}




